*{
    margin:0;
    box-sizing: border-box;
}

.navbar{
    background: rgb(62,62,62);
    background: linear-gradient(156deg, rgba(62,62,62,1) 0%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 59%, rgba(77,77,77,1) 100%);
    /* background-color: rgb(83, 74, 95); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px 1px rgb(193, 198, 199);
}

.web-logo{
    margin:5px 0px 0px 50px;
    width: 180px;
    height: 60px;
}
.nav-items{
    font-size: 23px;
    color:white;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap:10%;
}
.nav-items>*{
    color:white ;
    padding: 5px 10px !important;
    border-radius: 10px;
}
.nav-items>*:hover{
    /* background-color:teal; */
    background: rgb(208,203,203);
    background: linear-gradient(156deg, rgba(208,203,203,1) 0%, rgba(206,199,199,1) 41%, rgba(255,255,255,1) 59%, rgba(77,77,77,1) 100%);
    color:rgb(0, 0, 0) !important;
}
@keyframes high {
    from{font-size: 25px;}
    to{font-size: 30px;}
}
